<div id="login-container">
  <h2>Password Reset</h2>
  <div class="login-form">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "btn btn-ghost" %>
      </div>
    <% end %>
  </div>
  <div class="login-footer">
    <%= link_to "New here? Click here to signup", new_user_registration_path, method: :get %> <br>
    <%= link_to "forgot password?", new_user_password_path, method: :get %>
  </div>
</div>
