<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon ">
  <%= link_to root_path, class: "navbar-brand" do %>
    SAMAK
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <% if controller.controller_name == "pages" && controller.action_name == "market" %>
        <li class="nav-item cart-container"  data-toggle="modal" data-target="#cart-modal">
          <i class="fas fa-shopping-cart"></i> <span class="badge badge-light"><%= @current_cart.items.count %></span>
        </li>
        <% end %>
        <li class="nav-item <%= "active" if controller.controller_name == "pages" && controller.action_name == "market" %>">
          <%= link_to "Market", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Orders", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", "#", class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="cart-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cart-modal-title">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% unless @current_cart.nil? %>
        <ul>
          <% @current_cart.items.each do |item|%>
            <li>
              <%= item.product.catch.fish.english %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <div class="modal-footer">
        <% unless @current_cart.nil? %>
          <%= link_to order_all_path(cart: @current_cart.id), method: :post do %> <i class='fas fa-plus'></i> <% end %>
          <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
